[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #444;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 20px 88px;
  text-transform: uppercase;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
